.new-post-container {
  display: flex;
  flex-direction: column;

  form {
    margin-bottom: 20px;
    input[type="file"] {
      display: none;
    }
    input.mat-flat-button {
      width: 100%;
      background-color: #4e0561;
      a:hover {
        background-color: #3c034b;
      }
    }

    mat-form-field {
      width: 100%;
    }
  }
  input.mat-flat-button {
    background: #7b1fa2;
    padding: 0.4rem;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5%;
  }

}
