/* You can add global styles to this file, and also import other style files */
$negro: #111111;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: 0.3s all ease;
  &.dark {
    background: $negro;
  }
}
