$blanco: #fefefe;
$grisOscuro: #222222;
$grisClaro: #c8c8c8;

$sombraDark: 10px 10px 20px rgba(170, 170, 170, 0.16);
$sombraLight: 10px 10px 20px rgba(0, 0, 0, 0.16);

.mat-form-field {
  margin-top: 16px;
}

a{
  text-decoration: none;
}


